<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON611
### HW_4 -  SQL
#### Due: Nov 18

We will be using the sample databases that come from the DBeaver program (use the Database Installation guide to assist you on installing it). We will be using the sample tables that are provided there. Save your work as a SQL script with answers to specific questions commented out properly labled.

In [ ]:
how to use windows and partition id: 
SELECT
	albumid,
	name,
	milliseconds,
	DENSE_RANK () over(
		PARTITION by albumid
		order by milliseconds
	) lengthrank
from 
	track where lengthrank=4

## 1. Music and Album Data
---
We will be using the following tables from DBeaver:
• Album • Artist • Genre • Track • PlaylistTrack • MediaType

## Problems (40 points)
---

#### A. (5 points). Output a table that has the columns Album Title, Artist, Track Name, Genre, Composer, Length of Song (minutes) 
---


select 
album.Title as Album_Title, 
artist.Name as Artist, 
track.name as Track_Name, 
genre.name as Genre, 
track.Composer as Composer,
track.Milliseconds/(1000*60) as Length_in_Minutes
from album 
join artist on album.artistid = artist.artistid
join track on track.albumid = album.AlbumId
join genre on genre.GenreId = track.GenreId

/%reference: https://javarevisited.blogspot.com/2012/11/how-to-join-three-tables-in-sql-query-mysql-sqlserver.html %/

#### B. (5 points). Output a frequency table for how many letters are in an album title and a song title. (i.e. 3 columns: number of letters, number of album titles with that amount of letters, number of song titles with that amount of letters). What is the average and range of amount of letters?
---

TKTK
select album_summary.ct_album, track_summary.ct_track from
(select ct_album, count(ct_album)
	from (select trackid, length(Album_Title) as ct_album, length(Track_Name) as ct_track 
		from (select album.title as Album_Title, track.name as Track_Name, track.TrackId
			from album join track on album.albumid = track.AlbumId) as ct_summary) 
as album_summary group by ct_album)
join 
(select ct_track, count(ct_track)
	from (select trackid, length(Album_Title) as ct_album, length(Track_Name) as ct_track 
		from (select album.title as Album_Title, track.name as Track_Name, track.TrackId
			from album join track on album.albumid = track.AlbumId) as ct_summary) 
as track_summary group by ct_track) on album_summary.ct_album = track_summary.ct_track
/*reference: https://www.essentialsql.com/get-ready-to-learn-sql-server-22-using-subqueries-in-the-from-clause/ */

#### C. (10 points). How many songs did each composer write? How many artists composed their own music? Output all of the Artists who had songs that were longer than 2.5 minutes and they did not write their own songs.
---

/%songs written per composer*/
select track.Composer, count(track.Composer)
from Track group by track.Composer

***

/*count of self-written artists*/
select count (DISTINCT composer) as 'Count of self-composed artists:' from (select track.TrackId, track.composer, artist.Name
from track join album on track.AlbumId = album.AlbumId
join artist on album.ArtistId = artist.ArtistId
where track.composer is artist.name) 

***

/*artists with songs longer than 2.5min, not self-written*/
select distinct name from (select track.TrackId, track.composer, track.milliseconds/(1000) as time_in_sec, artist.Name
from track join album on track.AlbumId = album.AlbumId
join artist on album.ArtistId = artist.ArtistId
where track.composer is not artist.name
and time_in_sec > 150)

#### D. (10 points). How many albums contain songs that only have an even number of seconds in the length of the song and the songs are all MPEG audio files?
---

TKTK unsure how to apply parameters to the entire album 
select track.albumid, track.milliseconds/1000 as length_in_seconds, track.MediaTypeId from track
where (length_in_seconds%2)=0
and MediaTypeId=1

#### E. (10 points). How large, in terms of Megabytes are each album? On average, how large, in terms of bytes, is a pop song? What is the range and average duration of a heavy metal song in minutes?
---

/*MB length of each album*/
select track.AlbumId, sum(track.Bytes)/(power(10,6)) as mb_length_by_album from track group by track.AlbumId 

/*TKTK unsure how to join album name*/

***

/*average pop song byte size*/
select avg(bytes) from track where GenreId=9

***

/*range, avg duration of heavy metal song in minutes*/
select (MAX(length_in_min) - MIN(length_in_min)) as duration_range, avg(length_in_min)
from(select track.TrackId, track.Milliseconds/60000 as length_in_min from track 
where track.GenreId= 13)

## 2. Customer Data
---
We will be using the following tables from DBeaver:
• Customer • Invoice • InvoiceLine • Album • Artist • Genre • Track • PlaylistTrack • MediaType

## Problems (40 points)
---

#### A. (5 points). Output a table that shows the number of customers in each city, and also have shows the state and country that the city is located in.
---

select count(customer.CustomerId) as ct_customers, customer.city, customer.state, customer.country 
from customer 
group by customer.city

#### B. (10 points). How much in total was spent on music per year? What is the average amount a person spent on music in a year? What is the average amount a person with a gmail account spent on music in a year?
---

TKTK unclear about 'in a year' language

select sum(total) as sum_2007 
from Invoice 
where invoicedate like '%2007%'

***

select invoice.customerid, customer.email, sum(invoice.total) 
from invoice 
join customer on invoice.CustomerId=customer.CustomerId 
group by invoice.CustomerId

select sum(sum_per_cust)/count(customerid) as avg_spent_per_person from (select invoice.customerid, customer.email, sum(invoice.total) as sum_per_cust 
from invoice 
join customer on invoice.CustomerId=customer.CustomerId 
group by invoice.CustomerId)

#### C. (10 points). What year-month combination had the most spending on music? Which year-month combi- nation had the most money spent on pop music?
---

#### D. (10 points). What genre has the most songs bought that are in the pop genre? What is the total money spent on these songs? Which customer is spending the most on pop songs?
---

TKTK wording?

#### E. (10 points). Output how many songs each artist is selling in each country? Who is selling the post outside of the US? On average, how many songs is each artist selling outside of the US?
---

## 3. Window Functions (20 points)
---

#### A. (10 points). Return a list of Customers that assigns a sequential integer to each customer and resets the number when the country of the customer changes for Customers are not from Canada and Brazil and whose email address have `yahoo` or `gmail'
---

#### B. (10 points). Compute the rank for each track in each album based on the track’s length, then append all the tracks that have a lengthrank of 2 and 4 
---

## BONUS (20 points)
---
- Using SQLITE syntax [make your own SQLITE table](https://www.sqlitetutorial.net/sqlite-create-table/) and set of data. You will need to create a table of 5 columns and 10 rows containing any information you find interesting. (5 points)
- You should create/import your table need to [dbeaver](https://docs.roguewave.com/en/zendstudio/current/content/create_manage_database_with_dbeaver.htm). (5 points)
- Perform 3 different calculations using your data in order to tell a story of your data set. (10 points)

** FEEL FREE TO USE/EXPLORE OTHER SOURCES**